/* Global styles. */
form {
    font-family: 'BCSans', sans-serif;
    font-size: 18px;
}

:focus {
    outline: 4px solid #3B99FC;
    outline-offset: 1px;
}

/* Primary button. */
.BC-Gov-PrimaryButton {
    background-color: #003366;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 18px;
    font-family: 'BCSans', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
}

.BC-Gov-PrimaryButton:hover {
    text-decoration: underline;
    opacity: 0.80;
}

.BC-Gov-PrimaryButton:active {
    opacity: 1;
}

/* Secondary button. */
.BC-Gov-SecondaryButton {
    background: none;
    border-radius: 4px;
    border: 2px solid #003366;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 18px;
    Font-family: 'BCSans', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    color: #003366;
}

.BC-Gov-SecondaryButton:hover {
    opacity: 0.80;
    text-decoration: underline;
    background-color: #003366;
    color: #FFFFFF;
}

.BC-Gov-SecondaryButton:active {
    opacity: 1;
}

/* Text label. */
.text_label {
    display: flex;
}

/* Text input. */
.text_input {
    font-family: 'BCSans', sans-serif;
    font-size: 18px;
}
  
.text_input {
height: 34px;
border: 2px solid #606060;
margin-top: 5px;
margin-bottom: 15px;
border-radius: 4px;
padding: 5px 5px 5px 7px;
}
  
.text_input[type="text"]:focus {
    outline: 4px solid #3B99FC;
    outline-offset: 1px;
}

/* Text area. */
.text_area {
    font-family: 'BCSans', sans-serif;
    font-size: 18px;
    border: 2px solid #606060;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 4px;
    padding: 5px;
    resize: none;
}
  
.text_area:focus {
    outline: 4px solid #3B99FC;
    outline-offset: 1px;
}

/* Table. */
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
  
th, td {
    padding: 15px;
}

th {
    text-align: left;
    background-color: #d0d0d1;
}

caption {
    padding: 15px;
}

table {
    width: 100%;
}

/* Header. */
header {
    background-color: #036;
    border-bottom: 2px solid #fcba19;
    padding: 0 65px 0 65px;
    color: #fff;
    display: flex;
    height: 65px;
    top: 0px;
    position: fixed;
    width: 100%;
}

header .banner {
    display: flex;
    align-items: center;
}

header .logo {
    width: 45px;
    height: auto;
    padding: 2px 2px 2px 2px;
}

header .sitename {
    display: flex;
    flex-direction: column;
}

header .sitename > *{
    margin: 0px 0px 0px 0px;
}

header .sitename h3 {
    font-family: 'BCSans', sans-serif;
    font-weight: normal;  /* 400 */
    padding: 0px 50px 0px 5px;
}

header .other {
    display: flex;
    flex-grow: 1;
}

header:after {
    content: '';
    position: absolute;
    bottom: -7px;
    left: 0px;
    width: 100%;
    height: 5px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}

/* Title wrapper. */
.title_wrapper {
    display: flex;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ccc;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.title_wrapper h1 {
    font-family: 'BCSans', sans-serif;
    color: #494949;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
    padding: 10px 10px 10px 10px;
}

.title_wrapper h4 {
    font-family: 'BCSans', sans-serif;
    color: #494949;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 10px 0px;
}

/* Footer. */
footer {
    background-color: #036;
    border-top: 2px solid #fcba19;
    color: #fff;
    font-family: ‘BCSans’, ‘Noto Sans’, Verdana, Arial, sans-serif; 
}
  
footer .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 46px;
}